:root{
    --typeface: sans-serif;
}
body{
    
    height:100vh;
    margin: 0;
    font-family: var(--typeface);
}

#nav{

    display: flex;
    flex-grow: space-between;
}

#nav ul{
    list-style: none;
    align-self: flex-end;
flex: 2;
}
#hi{
    font-family: serif;
    padding: 5%;
font-stretch: 150%;
    font-size: 5em;

}


/** Projects */

.project{
    padding: 20px;
}

#projectHolder{
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: minmax(4fr, auto);
}

#glaxiclean{
    grid-row:1;
    grid-column: 1fr;
    

}
#glaxiclean:hover:after{
    background-color:blue;
}
#glaxiclean img{
    width:50%;
}
#marcusbuildinggroup{
    grid-column: 1fr;
    grid-row: 2;
}
#marcusbuildinggroup img{
    width: 50%;
}

#sunnyside img{
    width: 50%;

}
#strugglemeals{
    background-color: black;
    width: 50%;
    height: 20vw;}
